/23082016/listaDeExercicios3/exercicio4/verificaChar/nbproject/private/
/23082016/listaDeExercicios3/exercicio4/verificaChar/build/
/23082016/listaDeExercicios3/exercicio5/inverteVetor/nbproject/private/
/23082016/listaDeExercicios3/exercicio5/inverteVetor/build/
/23082016/listaDeExercicios3/exercicio6/contarVogais/nbproject/private/
/23082016/listaDeExercicios3/exercicio6/contarVogais/build/
/23082016/listaDeExercicios3/exercicio7/informacoesDaString/nbproject/private/
/23082016/listaDeExercicios3/exercicio7/informacoesDaString/build/
/23082016/listaDeExercicios3/exercicio8/totalDePalavras/nbproject/private/
/23082016/listaDeExercicios3/exercicio8/totalDePalavras/build/
/23082016/listaDeExercicios3/exercicio9/formataEspacos/nbproject/private/
/23082016/listaDeExercicios3/exercicio9/formataEspacos/build/